* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/patt.png");
}

/* HEADER */

.header {
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:after,
.menu:after,
.col-md-3:after {
  content: "";
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-3 {
  width: 25%;
}

.col-md-6 {
  width: 50%;
}

.logo {
  margin-top: 8px;
}

.menu li {
  width: 25%;
  float: left;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu a {
  text-decoration: none;
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #2c71b8;
  font-size: 21px;
}

.products {
  position: relative;
}

.fa {
  right: 7%;
  top: 30%;
  position: absolute;
}

.menu a:hover {
  color: white;
  background-color: #2c71b8;
}

.form-search {
  display: inline-block;
}

.submenu {
  margin-left: -1px;
  display: none;
  padding: 25px 0;
  width: 202%;
  background-color: #2c71b8;
}

.submenu > li {
  padding-left: 10%;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 21px;
  color: white;
  float: none;
  cursor: pointer;
}

.products:hover ul {
  position: absolute;
  display: block;
}

.menu > .products:hover > a {
  background-color: #2c71b8;
  color: white;
}

.submenu > li:hover {
  color: #2c71b8;
  background-color: white;
}

.form-search input::placeholder {
  background-color: none;
  font-size: 21px;
  color: #2c71b8;
  font-family: "Roboto", sans-serif;
}

.search-input {
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  width: 100%;
  font-family: "font/Roboto-Light.ttf";
  text-decoration: none;
  font-size: 21px;
  color: #2c71b8;
}

.forma-container {
  margin: 5px auto;
}

.forma-container form {
  box-sizing: border-box;
  height: 40px;
  width: 200px;
  border: 1px solid #2c71b8;
  position: relative;
}

.search-input,
.search-submit {
  border: none;
  outline: none;
}

.search-input::placeholder {
  color: #2c71b8;
}

.search-submit {
  height: 30px;
  width: 30px;
  top: 5px;
  right: 5px;
  background-color: #2c71b8;
  position: absolute;
}

.cart {
  float: right;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: url("images/icon-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.cart .number {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: #2c71b8;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

/* SLIDESHOW  */

.slideshow-container {
  height: 400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(rgba(44, 113, 184, 0.78), rgba(44, 113, 184, 0.78));
}

/* ASIDE */

.input-aside {
  display: none;
}

.aside-section-ul-one {
  margin: 30px 0 60px 30px;
}

.aside-section-ul-two {
  margin: 0px 0 60px 30px;
}

.aside-section-ul-three {
  margin: 0px 0 10px 30px;
}

.container-aside > ul > li {
  line-height: 30px;
}

.aside-ul {
  width: 100%;
  margin: 30px;
}

.aside-section {
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.container-aside {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid white;
  /* height: 845px; */
  color: white;
  font-size: 21px;
}

.container-aside > div.btn-one-description {
  margin-bottom: 30px;
}

.label-aside:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 40px;
  border: 1px solid white;
  cursor: pointer;
  margin: 20px 10px 0 0;
}

.input-aside:checked + .label-aside:before {
  background: white;
}

.link-aside-show-more {
  text-decoration: none;
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 21px;
}

/* MAINE */

[class*="container-"] {
  float: left;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-container::after {
  content: "";
  display: block;
  clear: both;
}

.container-articl {
  width: 75%;
}

.title {
  width: 100%;
  color: #96b8dc;
  font-size: 14px;
  height: 65px;
  line-height: 65px;
  padding: 0 15px;
}

.title > a {
  text-decoration: none;
  color: #96b8dc;
}

.articl-row {
  height: 100px;
}

.articl-title {
  width: 70%;
  padding: 0 15px;
  line-height: 100px;
}

.articl-select {
  line-height: 100px;
  width: 30%;
  padding: 0 15px;
}

h2 {
  font-size: 48px;
  color: white;
  font-weight: bold;
}

.description {
  width: 100%;
}

[class*="description-"] {
  padding: 15px;
  float: left;
  width: calc(30% - 3px);
  border: 1px solid white;
}

.section-img {
  position: relative;
  display: block;
  height: 180px;
  margin: -15px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
}

.img-desktop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-square {
  top: 10px;
  right: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #2c72ba;
}

.img-square:hover,
.img-heart:hover {
  background-color: #2c71b8;
}

.img-square:hover .fas,
.img-heart:hover .far {
  color: white;
}

.img-square > .fas,
.img-heart > .far {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c72ba;
}

.img-heart {
  width: 30px;
  height: 30px;
  border: 1px solid #2c72ba;
  top: 50px;
  right: 10px;
  position: absolute;
}

[class*="description-md-3-"] {
  color: white;
  margin: 15px;
  background-color: rgba(44, 113, 184, 0.75);
}

.device-name {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
}

.section-description {
  font-size: 21px;
  margin: 15px 0;
}

.price {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

sup {
  vertical-align: super;
  font-size: 50%;
}

.btn-one-description {
  text-align: center;
  background-color: rgb(44, 113, 184);
  border: 1px solid white;
  height: 50px;
  margin: 15px;
}

.btn-one-description > button {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: white;
  background: transparent;
  border: none;
  height: 50px;
}

.btn-two-description {
  text-align: center;
  background-color: rgb(44, 113, 184);
  border: 1px solid white;
  height: 50px;
  margin: 15px;
}

.btn-two-description > button {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: white;
  background: transparent;
  border: none;
  height: 50px;
}

.btn-one-description:hover,
.btn-two-description:hover {
  background-color: rgba(255, 255, 255, 0.19);
}

.btn-two-description > button > .fas {
  margin-left: 10px;
}

button:active,
button:focus {
  outline: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal-block {
  width: 300px;
  margin: 80px auto;
  height: 200px;
  border: 1px solid grey;
  background-color: white;
  padding: 15px;
}

.form-fields {
  margin: 10px 0;
}

.form-fields input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

.btn-close {
  text-align: right;
}

.hide {
  display: none;
}

.show {
  display: block;
}
